.fixDiv {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    pointer-events: none
}

.iframeDiv, .iframeDiv2 {
    position: absolute;
    top: 73px;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: white;
    display: block;
    transition: left 0.4s, right 0.4s;
    pointer-events: auto;
}

.iframeDiv2 {
    left: calc(20px + 100vw);
    width: 100vw;
    transition: left 0.4s;
}

#myframe, #myframe2 {
    height: 100%;
    width: 100%;
}

#results {
    position: absolute;
    top: 40px;
    color: white;
    left: calc(50% - 50px);
}

.numberTask, .resolve {
    padding: 10px;
    font-weight: bold;
}